.card--pricing {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  padding: 2rem;
  text-align: center;
}

.card__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 6px;
  display: inline-block;
  padding: 0.5rem 2.5rem;
}

.card--pricing hr {
  background: none;
  border-top: 1.5px solid #CED4DB;
}

.card__header {
  text-align: center;
}

.card__subtitle, .card__body li {
  font-size: 0.9em;
  line-height: 1.2em;
}

.card__body ul, .card__body li {
  padding: 0;
}

.card__body li {
  list-style: none;
  margin: 0;
  padding: 0.25rem 0;
  text-align: left;
}

.card__body svg {
  display: inline-block;
  fill: #494A52;
  margin-right: 10px;
  max-width: 20px;
}

@media screen and (max-width: 1200px) {
  .card--pricing {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 787px) {
  .card--pricing {
    margin-bottom: 1rem;
  }
}