button,
.button,
.hs-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all 0.15s linear;
  white-space: normal;
}

button:disabled,
.button:disabled,
.hs-button:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}

/* No button */

.no-button,
.no-button:hover,
.no-button:focus,
.no-button:active {
  background: none;
  border: none;
  border-radius: 0;
  color: initial;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  transition: none;
}

.hy-button {
    width: fit-content;
    white-space: nowrap;
    font-weight: 800;
    font-style: italic;
    font-size: clamp(0.75rem, 1.125rem);
    border: 2px solid #fff;
    border-radius: 2rem;
    text-decoration: none;
    padding: 0.75rem 2.25rem;
    text-transform: uppercase;
    transition: all 0.25s ease; /* smooth everything */
    display: inline-block;
}

/* Primary look */
.hy-button-primary {
    background: transparent;
    color: #fff;
    -webkit-text-stroke: 0.5px black;
}

/* Secondary look */
.hy-button-secondary {
    background: #fff;
    color: #252B5A;
    -webkit-text-stroke: 0; /* reset stroke */
}

/* On hover, swap costumes */
.hy-button-primary:hover {
    background: #fff;
    color: #252B5A;
    -webkit-text-stroke: 0;
}

.hy-button-secondary:hover {
    background: transparent;
    color: #fff;
    -webkit-text-stroke: 0.5px black;
}

