<!--
    templateType: page
    label: Page template
    isAvailableForNewContent: true
-->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ content.html_title }}</title>
  <meta name="description" content="{{ content.meta_description }}">
  {{ standard_header_includes }}
</head>
<body>
<h1>Hello Again!</h1>
{% module "page_template_logo" path="@hubspot/logo" label="Logo" %}
{% module "page_template_rich_text" path="@hubspot/rich_text" label="Rich Text" %}
{{ standard_footer_includes }}
</body>
</html>
