const templateConfig = {
  templateType: 'page',
  isAvailableForNewContent: true,
  label: 'Contact',
  screenshotPath: '../images/template-previews/contact.png',
  extends: './layouts/base.html'
}

<Block name="body">
  <div class='dnd-area body-container--contact', label='Main section'>
    <div class="container-xl">
      <div class="row">
        <Module path='@hubspot/rich_text' class="align-middle">
          <h1>Contact us</h1>
        </Module>
      </div>
      <div class="row">
        (
         const cardData=[
         {
           'image': {
             'src': get_asset_url('../images/phone.png'),
             'alt': 'Phone number'
           },
           'text': '(887) 929-0687',
           'title': ''
         },
         {
           'image': {
             'src': get_asset_url('../images/email.png'),
             'alt': 'Email'
           },
           'text': 'contact@business.com',
           'title': ''
         },
         {
           'image': {
             'src': get_asset_url('../images/location.png'),
             'alt': 'Address'
           },
           'text': '2 Canal Park, Cambridge, MA 02141',
           'title': ''
         }
       ]
        )
        <Module path='../modules/card-section' card=${cardData} />
      </div>
    </div>
  </div>
</Block>
