<!--
  templateType: page
  isAvailableForNewContent: true
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area "dnd_areacontact" class='body-container', label='Main section' %}

    {% dnd_section max_width=1200 %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module
            path='@hubspot/rich_text',
            flexbox_positioning='MIDDLE_CENTER'
          %}
            {% module_attribute "html"%}
              <h1>Contact us</h1>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module
            path='../modules/Card section',
            card=[
              {
                'image': {
                  'src': get_asset_url('../images/phone.png')
                },
                'title': '',
                'text': '(887) 929-0687'
              },
              {
                'image': {
                  'src': get_asset_url('../images/email.png')
                },
                'title': '',
                'text': 'contact@business.com'
              },
              {
                'image': {
                  'src': get_asset_url('../images/location.png')
                },
                'title': '',
                'text': '2 Canal Park, Cambridge, MA 02141'
              }
            ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}
</main>
{% endblock body %}
