<!--
  templateType: page
  isAvailableForNewContent: true
-->
{% extends "./layouts/base.html" %}

{% block body %}
  {% dnd_area "dnd_area" label="Main content" %}
    {% dnd_section %}
      {% dnd_module path='@hubspot/rich_text', flexbox_positioning='MIDDLE_CENTER', label="Title" %}
        {% module_attribute "html" %}
          <h1>Pricing</h1>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}
    {% dnd_section padding={ 'top': 0 } %}
      {% dnd_module
        width=4,
        path="../modules/Pricing card",
        tier="Starter",
        description="For individuals or team just getting started with sales.",
        price="$0",
        timeframe="/mo",
        button_text="Buy now",
        features=[
          "Ad management",
          "Live chat",
          "Conversational bots",
          "Forms",
          "Pop-up forms",
          "Contact website activity",
          "List segmentation",
          "Email marketing",
          "Ad retargeting"
        ]
      %}
      {% end_dnd_module %}
      {% dnd_module
        offset=4,
        width=4,
        path="../modules/Pricing card",
        tier="Professional",
        description="For teams that need to create sales plans with confidence.",
        price="$1200",
        timeframe="/mo",
        button_text="Buy now",
        features=[
          "Marketing automation",
          "Smart content",
          "Content creation tools",
          "SEO & content strategy",
          "Social media",
          "A/B testing",
          "Landing pages",
          "Calls-to-action",
          "Video hosting"
        ]
      %}
      {% end_dnd_module %}
      {% dnd_module
        offset=8,
        width=4,
        path="../modules/Pricing card",
        price="$3200",
        timeframe="/mo",
        tier="Enterprise",
        description="For teams that need additional security, control, and support.",
        button_text="Buy now",
        features=[
          "Content partitioning",
          "Hierarchical teams",
          "Single sign-on",
          "Social permissions",
          "Additional domains",
          "Email send frequency cap",
          "Calculated properties",
          "CMS membership",
          "Filtered analytics view"
        ]
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  {% end_dnd_area %}
{% endblock body %}
