<!--
  templateType: page
  isAvailableForNewContent: true
  label: Pricing
  screenshotPath: ../images/template-previews/pricing.png
-->
{% extends './layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--pricing', label='Main section' %}

    {# Heading section #}
    {% dnd_section %}
      {% dnd_module path='@hubspot/rich_text',
        label='Title',
        horizontal_alignment='CENTER'
      %}
        {% module_attribute 'html' %}
          <h1>Pricing</h1>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}
    {# End heading section #}

    {# Pricing card section #}
    {% dnd_section
      padding={
        'top': 0
      }
    %}
      {% dnd_module path='../modules/pricing-card',
        button_text='Buy now',
        description='For individuals or team just getting started with sales.',
        features=[
          'Ad management',
          'Live chat',
          'Conversational bots',
          'Forms',
          'Pop-up forms',
          'Contact website activity',
          'List segmentation',
          'Email marketing',
          'Ad retargeting'
        ],
        offset=0,
        price='$0',
        tier='Starter',
        timeframe='/mo',
        width=4
      %}
      {% end_dnd_module %}
      {% dnd_module path='../modules/pricing-card',
        button_text='Buy now',
        description='For teams that need to create sales plans with confidence.',
        features=[
          'Marketing automation',
          'Smart content',
          'Content creation tools',
          'SEO & content strategy',
          'Social media',
          'A/B testing',
          'Landing pages',
          'Calls-to-action',
          'Video hosting'
        ],
        offset=4,
        price='$1200',
        tier='Professional',
        timeframe='/mo',
        width=4
      %}
      {% end_dnd_module %}
      {% dnd_module path='../modules/pricing-card',
        button_text='Buy now',
        description='For teams that need additional security, control, and support.',
        features=[
          'Content partitioning',
          'Hierarchical teams',
          'Single sign-on',
          'Social permissions',
          'Additional domains',
          'Email send frequency cap',
          'Calculated properties',
          'CMS membership',
          'Filtered analytics view'
        ],
        offset=8,
        price='$3200',
        tier='Enterprise',
        timeframe='/mo',
        width=4
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}
    {# End pricing card section #}

  {% end_dnd_area %}
</main>
{% endblock body %}
