<div class="social-links">
  {% for item in module.social_links %}
    {% if item.social_account != 'custom_icon' %}
      {% set social_icon = item.social_account %}
    {% else %}
      {% set social_icon = item.custom_icon.name %}
    {% endif %}
    {% set href = item.social_link.url.href %}
    {% if item.social_link.url.type is equalto 'EMAIL_ADDRESS' %}
      {% set href = 'mailto:' + href %}
    {% endif %}
    <a href="{{ href }}"
        class="social-links__link"
      {% if item.social_link.open_in_new_tab %}target="_blank"{% endif %}
      {% if item.social_link.no_follow %}rel="nofollow"{% endif %}
      >
      {% icon
        extra_classes='social-links__icon',
        name='{{ social_icon }}',
        purpose='semantic',
        style='SOLID',
        title='{{ item.accessibility.title }}'
      %}
    </a>
  {% endfor %}
</div>