<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  <div class="footer__container content-wrapper">

    {# Social follow section #}
    {% module_block module 'footer_social' path='../../modules/social-follow',
      label='Social follow'
    %}
      {% module_attribute 'social_link' is_json=True %}
        [
          {"social_account": "facebook-f"},
          {"social_account": "linkedin-in"},
          {"social_account": "twitter"},
          {"social_account": "instagram"}
        ]
      {% end_module_attribute %}
    {% end_module_block %}
    {# End social follow section #}

    {# Copyright information section #}
    <div class="footer__copyright">
      {% module_block module 'footer_copyright_text' path='@hubspot/text' %}
        {% module_attribute 'value' %}© {{ year }} All rights reserved.{% end_module_attribute %}
      {% end_module_block %}
    </div>
    {# End copyright information section #}

  </div>
</footer>
