<!--
  templateType: global_partial
  label: Page footer
-->
<footer class="footer">
  <div class="footer__container">
    {% module_block module "footer_social" path="../../modules/Social follow" label="Social follow" %}
      {% module_attribute "social_link" is_json=True %}
        [
          {"social_account": "facebook-f"},
          {"social_account": "linkedin-in"},
          {"social_account": "twitter"},
          {"social_account": "instagram"}
        ]
      {% end_module_attribute %}
    {% end_module_block %}
    <div class="footer__copyright">
      {% module_block module "footer_copyright_text" path="@hubspot/text" %}
        {% module_attribute "value" %}© {{ year }} All rights reserved.{% end_module_attribute %}
      {% end_module_block %}
    </div>
  </div>
</footer>
