<!--
  templateType: global_partial
  label: Page header
-->
<header class="header">
  <div class="header__container">
    <div class="header__logo">
      {% module "site_logo" path="@hubspot/logo", label="Logo" %}
    </div>
    <div class="header__search">
      {% module "site_search" path="@hubspot/search_input", label="Search" %}
    </div>
    <div class="header__navigation">
      {% module "navigation-primary" path="../../modules/Menu section", label="Primary Navigation section" %}
    </div>
  </div>
</header>