<!--
  templateType: global_partial
  label: Page header
-->
<header class="header">
  <div class="header__container">
    <div class="header__logo header__logo--main">
      {% module "site_logo" path="@hubspot/logo", label="Logo" %}
    </div>
    <div class="header__column">
      <div class="header__row-1">
        <div class="header__logo header__logo--tablet">
          {# This second logo module is for the tablet breakpoint,
          so that the menu can wrap underneath the logo without breaking onto a new line.
          It's hidden unless in a tablet breakpoint.  #}
          {% module "site_logo" path="@hubspot/logo", label="Logo" %}
        </div>
        {% if content.translated_content|length %}
        <div class="header__language-switcher header--element">
          <div class="header__language-switcher--label">
            {% module "language-switcher" path="@hubspot/language_switcher", display_mode='localized', label="Language Switcher" %}
            <div class="header__language-switcher--label-current"> {{ locale_name(locale) }}</div>
          </div>
        </div>
        {% endif %}
        <div class="header__search header--element">
          {% module "site_search" path="@hubspot/search_input", label="Search" %}
        </div>
      </div>
      <div class="header__row-2">
        <div class="header--toggle header__navigation--toggle"></div>
        {% if content.translated_content|length %}
          <div class="header--toggle header__language-switcher--toggle"></div>
        {% endif %}
        <div class="header--toggle header__search--toggle"></div>
        <div class="header__close--toggle"></div>
        <div class="header__navigation header--element">
          {% module "navigation-primary" path="../../modules/Menu section", label="Primary Navigation section" %}
        </div>
      </div>
    </div>
  </div>
</header>
