<!--
  templateType: global_partial
  label: Page header
-->
<header class="header">
  <div class="header__container">
    <div class="header__row-1">
      <div class="header__logo">
        {% module "site_logo" path="@hubspot/logo", label="Logo" %}
      </div>
      <div class="header__language-switcher">
        <div class="header__language-switcher--label">
          {% module "language-switcher" path="@hubspot/language_switcher", display_mode='localized', label="Language Switcher" %}
          <div class="header__language-switcher--label-current"> {{ locale_name('en') }}</div>
        </div>
      </div>
      <div class="header__search">
        {% module "site_search" path="@hubspot/search_input", label="Search" %}
      </div>
    </div>
    <div class="header__row-2">
      <input type="checkbox" id="nav-toggle">
      <label class="header__navigation--toggle" for="nav-toggle"></label>
      <div class="header__navigation">
        {% module "navigation-primary" path="../../modules/Menu section", label="Primary Navigation section" %}
      </div>
    </div>


  </div>
</header>
