.footer {
  background-color: #F8FAFC;
  text-align: center;
}
.footer__container {
  padding: 1rem;
  max-width: 1280px;
  margin: 0 auto;
}
.footer__copyright {
  font-family: Lato, sans-serif;
  font-size: .7rem;
  margin: .5rem 0;
}
