{# Module styles #}

{% require_css %}
{% end_require_css %}

{# Sets attributes used for the link field #}

{% set href = module.link.url.href %}
{% if module.link.url.type == "EMAIL_ADDRESS" %}
  {% set href = "mailto:" + href %}
{% endif %}
{% set rel = [] %}
{% if module.link.no_follow %}
  {% do rel.append("nofollow") %}
{% endif %}
{% if module.link.open_in_new_tab %}
  {% do rel.append("noopener") %}
{% endif %}

{# Button #}
<a class="hy-button {{ module.styles.button_style }}" href="{{ module.link.url.href|escape_url }}"
  {% if module.link.open_in_new_tab %}target="_blank"{% endif %}
  {% if module.link.rel %}rel="{{ module.link.rel|join(" ")|escape_attr }}"{% endif %}
>
  {{ module.button_text|escape_html }}
</a>

