@media (min-width: 767px) {
  .vt22-cards {
    display: grid;
    grid-template-columns: 0.95fr 0.05fr 0.95fr;
  }
}

.vt22-cards__card {
  display: flex;
  flex-direction: column;
  border-inline: 2px solid black;
  color: black;
  transition: all ease-in-out 150ms;
  text-decoration: none;
  hyphens: auto;
}

.vt22-cards__card:hover {
  background-color: #eee;
}

.vt22-cards__card h2.card__heading {
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .vt22-cards__divider {
    display: none;
  }
}

.vt22-cards__divider {
  padding: 1rem;
  border-block-start: 2px solid black;
}

.vt22-card__image {

  height: auto;
  max-width: 100%;
  width: 100%;
}

.vt22-card__text {
  padding: 1rem;
  width: 100%;
} 

.vt22-card__text p {
  line-height: 1.5;
  font-size: 1rem;
} 
