<div class="cards">
  {% for card in module.card %}
    {% set loadingAttr = card.image.loading != 'disabled' ? 'loading="{{ card.image.loading }}"' : '' %}
    <div class="cards__card card">
      {% if card.image.src %}
        <img class="card__image" src="{{ card.image.src }}" alt="{{ card.image.alt }}" {{ loadingAttr }}>
      {% endif %}
      <div class="card__text">
        {% if card.title %}
          <{{ card.title_heading_type }}>{{ card.title }}</{{ card.title_heading_type }}>
        {% endif %}
        {% if card.text %}
          <p>{{ card.text }}</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>