.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cards__card {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 1rem 0;
  max-width: 100%;
  width: 250px;
}

.card__image {
  height: auto;
  max-width: 250px;
  padding: 10px;
  width: 100%;
}

.card__text {
  padding: 0 1rem;
  text-align: center;
  width: 100%;
}
