.dnd-section {
  padding: 80px 20px;
}

.dnd-section > .row-fluid {
  max-width: {{ dnd_section_max_width }};
  margin-left: auto;
  margin-right: auto;
}

.dnd-section .widget-type-cell {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .dnd-section .widget-type-cell {
    padding-left: 0px;
    padding-right: 0px;
  }
}