.footer {
  background-color: {{ dnd_accent_bg_color }};
  text-align: center;
}
.footer__container {
  padding: 1rem;
  max-width: {{ theme.spacing.max_width }}px;
  margin: 0 auto;
}
.footer__copyright {
  font-family: {{ secondary_font_family }};
  font-size: .7rem;
  margin: .5rem 0;
}
