form {
  max-width: {{ form_max_width }};
  font-family: {{ secondary_font_family }};
}

.hs-button {
  margin: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  line-height: 1.1;
  position: relative;
  text-align: center;
  transition: all 0.15s linear;
  background-color: {{ form_button_color }};
  border-color: {{ form_button_color }};
  color: {{ form_button_text_color }};
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  font-size: .92rem;
  padding: 15px 53px;
{# default "Get Free Widget" form (renders when no form is passed to the form HubL tag)
  is an anchor (a.hs-button) rather than a real input, so it needs explcit css to avoid link styling #}
  text-decoration: none;
}

.hs-button:hover, .hs-button:focus {
  background-color: {{ form_button_color_hover }};
  border-color: {{ form_button_color_hover }};
{# see "no form selected" note above #}
  color: {{ form_button_text_color }};
}

.hs-button:active {
  background-color: {{ form_button_color_active }};
  border-color: {{ form_button_color_active }};
}


.hs-form label {
  font-size: .83rem;
  color: {{ form_label_color }};
  display: block;
  float: none;
  width: auto;
  font-weight: normal;
  text-align: left;
  line-height: 1.2;
  padding-top: 0;
  margin-bottom: 4px;
}

.hs-error-msgs label {
  margin-top: .5rem;
  color: {{ form_error_label_color }};
}

.hs-input {
  display: inline-block;
  width: 100%;
  height: 58px;
  padding: 9px 10px;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: {{ form_input_color }};
  background-color: #ffffff;
  border: 2px solid #D1D6DC;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.hs-input[type=checkbox],
.hs-input[type=radio] {
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 5px 3px 0px;
  line-height: normal;
  border: none;
}

.hs-input[type=file] {
  background-color: #fff;
  padding: initial;
  border: initial;
  line-height: initial;
  box-shadow: none;
}

.hs-input:-moz-placeholder {
  color: {{ form_placeholder_color }};
}

.hs-input::-webkit-input-placeholder {
  color: {{ form_placeholder_color }};
}

.hs-input input,
.hs-input textarea {
  transition: border 0.2s linear;
}
.hs-input:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
}

textarea.hs-input {
  height: auto;
}

select[multiple].hs-input {
  height: inherit;
}

/* Force single column fields to full width inside of fieldsets */
fieldset.form-columns-1 .hs-input:not([type=radio]):not([type=checkbox]) {
  width: 100% !important;
}

input.hs-input.error,
div.field.error input,
div.field.error textarea,
div.field.error .chzn-choices,
textarea.hs-input.error,
select.hs-input.error {
  border-color: {{ form_error_border_color }};
}
input.hs-input.error:focus,
div.field.error input:focus,
div.field.error textarea:focus,
div.field.error .chzn-choices:focus,
textarea.hs-input.error:focus,
select.hs-input.error:focus {
  border-color: {{ form_error_focus_border_color }};
}

.actions {
  padding: 0;
}

.inputs-list {
  margin: 0 0 5px;
  width: 100%;
  padding-left: 0;
}
.inputs-list > li {
  display: block;
  padding: 0;
  width: 100%;
  padding-top: 0;
}
.inputs-list label {
  display: block;
  float: none;
  width: auto;
  padding: 0;
  line-height: 18px;
  text-align: left;
  white-space: normal;
  font-weight: normal;
}
.inputs-list:first-child {
  padding-top: 6px;
}
.inputs-list > li + li {
  padding-top: 2px;
}
.inputs-list label > input,
.inputs-list label > span {
  vertical-align: middle;
}

ul.no-list {
  list-style: none;
}

.field {
  margin-bottom: 18px;
}

.hs-field-desc {
  color: {{ form_description_color }};
  margin: 0px 0px 6px;
  font-size: 14px;
}

.hs-form-required {
  color: red;
}

.hs-richtext {
  margin-bottom: 3px;
  line-height: 1.2;
  font-size: {{ body_font_size }};
  color: {{ body_color }};
}
.hs-richtext hr {
  text-align: left;
  margin-left: 0;
  width: 91%;
}

.grecaptcha-badge {
  margin: 0 auto;
}

.email-correction, .email-validation {
  padding-top: 3px;
  font-size: 12px;
}
.email-correction a,
.email-validation a {
  cursor: pointer;
}
@media (max-width: 400px),
(min-device-width: 320px) and (max-device-width: 480px) {
  .email-correction form .form-columns-2 .hs-form-field,
  .email-correction form .form-columns-3 .hs-form-field,
  .email-validation form .form-columns-2 .hs-form-field,
  .email-validation form .form-columns-3 .hs-form-field {
    float: none;
    width: 100%;
  }
  .email-correction form .form-columns-2 .hs-form-field .hs-input,
  .email-correction form .form-columns-3 .hs-form-field .hs-input,
  .email-validation form .form-columns-2 .hs-form-field .hs-input,
  .email-validation form .form-columns-3 .hs-form-field .hs-input {
    width: 90%;
  }
  .email-correction form .form-columns-2 .hs-form-field input[type=checkbox],
  .email-correction form .form-columns-2 .hs-form-field input[type=radio],
  .email-correction form .form-columns-3 .hs-form-field input[type=checkbox],
  .email-correction form .form-columns-3 .hs-form-field input[type=radio],
  .email-validation form .form-columns-2 .hs-form-field input[type=checkbox],
  .email-validation form .form-columns-2 .hs-form-field input[type=radio],
  .email-validation form .form-columns-3 .hs-form-field input[type=checkbox],
  .email-validation form .form-columns-3 .hs-form-field input[type=radio] {
    width: 24px;
  }
}

.hs-button,
.hs-form-field input[type=text],
.hs-form-field input[type=email],
.hs-form-field input[type=phone],
.hs-form-field input[type=number],
.hs-form-field input[type=tel],
.hs-form-field input[type=date],
.hs-form-field textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.hs-default-font-element,
.hs-main-font-element {
  font-family: {{ body_font_family }};
}
