.error-page {
  padding: 10rem 0;
  text-align: center;
  position: relative;
}
.error-page:before {
  content: attr(data-error);
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: {{ secondary_font_family }};
  font-size: 40vw;
  font-weight: bold;
  color: #F3F6F9;
  z-index: -1;
}
@media screen and (min-width: 1100px) {
  .error-page:before {
    font-size: 20rem;
  }
}
.error-page__heading {
  margin-bottom: 1rem;
}

.systems-page {
  padding: 3rem 20px;
}
.systems-page .success {
  display: inline-block;
  margin: 2rem 0;
  min-width: 650px;
  background-color: #CDE3CC;
  border: 1.5px solid #4F7D24;
  border-radius: 6px;
  font-size: .75rem;
  color: #4F7D24;
  padding: .1rem .75rem;
}

.hs-search-results {
  margin-top: 2rem;
}
ul.hs-search-results__listing li {
  margin-bottom: 2rem;
}
.hs-search-results__title {
  font-family: {{ headings_font_family }};
  font-size: 1.25rem;
  color: {{ body_color }};
  text-decoration: underline;
  margin-bottom: .25rem;
}
.hs-search-results__title:hover {
  text-decoration: none;
}
.hs-search-results__description {
  padding-top: .5rem;
}
.hs-search-highlight {
  font-weight: bold;
}
.hs-search-results__pagination a {
  color: {{ body_color }};
}
.password-prompt input[type=password] {
  height: auto !important;
  display: block;
  margin-bottom: 18px;
}
