/* ==========================================================================
   HubSpot Migrations Services - COS Boilerplate v2.0.0                              
   ========================================================================== */


/* ==========================================================================
   Table of Contents:

   1. EXTERNAL RESOURCES
   2. BASE STYLES
   3. COS STRUCTURE
   4. MAIN NAVIGATION
   5. BLOG
   6. FORMS
   7. BUTTONS
   8. MISCELLANEOUS
   9. MOBILE MEDIA QUERIES
   ========================================================================== */


/* ==========================================================================
   1. EXTERNAL RESOURCES                                            
   ========================================================================== */


/* =============== @import, @font-face, and CSS File Includes =============== */

/* EX: @import url('http://example.com/example_style.css'); */

/* HubSpot_Boilerplate-modules.css is required to address style issues with the default modules and responsive grid layout */
{% include 'Company Theme/Coded Files/company-modules.css' %}


/* ==========================================================================
   2. BASE STYLES                                             
   ========================================================================== */

/* =============== Base =============== */

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #333;
  font-family: "Arial", "Sans-Serif";
  font-size: 16px;
  line-height: 1.5;
}


/* =============== Typography =============== */

/* Basic text */
p {} 
small {}
strong {}
em {}
cite {}
code {}
pre {}

sup, sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* Headings */
h1, h2, h3, h4, h5, h6 {}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

/* Anchor Links */
a { color: #00f; }
a:hover, a:focus { color: #90f; }

/* Lists */
ul, ol {}
ul ul, ul ol, ol ol, ol ul {}
li {}

/* Block Quotes */
blockquote {}
blockquote p {}
blockquote small {}

/* Horizontal Rules */
hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  border: none;
}


/* =============== EU Cookie Confirmation Bar =============== */

/* Confirmation Outer Wrapper*/
#hs-eu-cookie-confirmation {}

/* Confirmation Inner Wrapper*/
#hs-eu-cookie-confirmation-inner {}
#hs-eu-cookie-confirmation-inner p{}

/* Confirmation Button */
#hs-en-cookie-confirmation-buttons-area {}
a#hs-eu-confirmation-button {}


/* ==========================================================================
   3. COS STRUCTURE                                            
   ========================================================================== */


/* =============== Structure =============== */

/* The outer wrappers of your website */
.header-container-wrapper, 
.body-container-wrapper, 
.footer-container-wrapper {}

/* The inner wrappers of your website */
.header-container, 
.body-container, 
.footer-container {}


/* =============== Header =============== */

.header-container-wrapper {}
.header-container {}


/* =============== Content =============== */

.body-container-wrapper {}
.body-container {}

.content-wrapper {}
.main-content {}
.sidebar{}
.sidebar.right{}
.sidebar.left{}


/* =============== Footer =============== */

.footer-container-wrapper {}
.footer-container {}


/* ==========================================================================
   4. MAIN NAVIGATION                                            
   ========================================================================== */


/* =============== Custom Menu Primary =============== */

/* Parent List */
.custom-menu-primary .hs-menu-wrapper > ul{}
.custom-menu-primary .hs-menu-wrapper > ul > li{}
.custom-menu-primary .hs-menu-wrapper > ul > li > a{}
.custom-menu-primary .hs-menu-wrapper > ul > li > a:hover{}

/* Child List */
.custom-menu-primary .hs-menu-wrapper > ul ul{
  background-color: #fff;
}
.custom-menu-primary .hs-menu-wrapper > ul ul li{}
.custom-menu-primary .hs-menu-wrapper > ul ul li a{}
.custom-menu-primary .hs-menu-wrapper > ul ul li a:hover{}

/* Override max width on menu links */
.custom-menu-primary .hs-menu-wrapper > ul li a, 
.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
  overflow: visible !important;
  max-width: none !important;
  width: auto !important;
}

/* Fix menu disappearing on desktop after toggling mobile menu */
@media screen and (min-width:768px) {
    .custom-menu-primary .hs-menu-wrapper,
    .custom-menu-primary .hs-menu-wrapper > ul ul { 
        display:block !important;
    }
}


/* =============== Mobile Toggle Menu =============== */

/* Hide button on Desktop */
.mobile-trigger, .child-trigger{ display: none; }

@media (max-width: 767px){

  /* Menu Reset */
  .custom-menu-primary,
  .custom-menu-primary .hs-menu-wrapper > ul,
  .custom-menu-primary .hs-menu-wrapper > ul li,
  .custom-menu-primary .hs-menu-wrapper > ul li a{
    display: block;
    float: none;
    position: static;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 0px;
    margin: 0px;
    background-image: none;
    background-color: transparent;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
    max-width: none;
    width: 100%;
    height: auto;
    line-height: 1;  
    font-weight: normal;
    text-decoration: none;
    text-indent: 0px;
    text-align: left;
    color:#fff;
  }

  /* ===== Mobile Toggle Button ===== */

  .mobile-trigger{
    display: inline-block !important; /* Show button on mobile */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute; /**************************************/
    top: 0px;           /* Position Button at right of screen */
    right: 10px;        /**************************************/
    width: auto; /* Button width */
    height: auto; /* Button height */      
    padding: 7px 10px 8px 10px;
    background: #ffffff; /* Background color */
    border: 1px solid #000;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000; 
  }
  .mobile-trigger:hover{
    text-decoration: none; /* Removes link text underline on button */
    color: #fff;
    background-color: #000; 
    border-color: transparent;
  }

  /* Change button when menu is open */
  .mobile-open .mobile-trigger{
    color: #fff;
    background-color: #000; 
    border-color: transparent;
  }

  /* Toggle Button Icon */
  .mobile-trigger i{
    display: inline;
    position: relative;
    top: -4px;
  }
  .mobile-trigger i:before, .mobile-trigger i:after{
    position: absolute;
    content: '';
  }
  .mobile-trigger i, .mobile-trigger i:before, .mobile-trigger i:after{
    width: 22px; /* Icon line width */
    height: 2px; /* Icon line height */
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-color: #000; /* Icon color */
    display: inline-block;
  }
  .mobile-trigger i:before{ top: -6px; } /* Position top line */
  .mobile-trigger i:after{ top: 6px; } /* Position bottom line */
  .mobile-trigger:hover i, .mobile-trigger:hover i:before, .mobile-trigger:hover i:after,  
  .mobile-open .mobile-trigger i, .mobile-open .mobile-trigger i:before, .mobile-open .mobile-trigger i:after{
      background-color: #fff; /* Icon color */
  }

  /* ===== Mobile Child Toggle Buttons ===== */

  .child-trigger{
    display: block !important; /* Hide button on Desktop */
    cursor: pointer; /* Mouse pointer type on hover */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 55px !important; /* Button width */
    min-width: 55px !important;
    height: 45px !important; /* Button height */  
    padding: 0 !important;
    border-left: 1px dotted rgba(255, 255, 255, .20);
  }
  .child-trigger:hover{
    text-decoration: none;
  }
  .child-trigger i{
    position: relative;
    top: 50%; /* Centers icon inside button */
    margin: 0 auto !important;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .child-trigger i:after{
    position: absolute;
    content: '';
  }
  .child-trigger i, .child-trigger i:after{
    width: 10px; /* Icon line width */
    height: 1px; /* Icon line height */
    background-color: #fff; /* Icon color */
    display: block;
  }
  .child-trigger i:after{
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }  
  .child-trigger.child-open i{}
  .child-trigger.child-open i:after{
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
 
  /* ===== Mobile Menu Styles ===== */  
     
  .custom-menu-primary.js-enabled{
    position: relative;
    padding-top: 44px; /* Makes room for button */
    margin: 10px 0 10px 0;
  }

  /* Hide menu on mobile */
  .custom-menu-primary.js-enabled .hs-menu-wrapper,
  .custom-menu-primary.js-enabled .hs-menu-children-wrapper{
    display: none;
  }  

  /* Make child lists appear below parent items */
  .custom-menu-primary ul.hs-menu-children-wrapper{
    visibility: visible !important;
    opacity: 1 !important;
    position: static !important;
    display: none;
  }

  /* Mobile Menu Styles */ 
  .custom-menu-primary.js-enabled .hs-menu-wrapper{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
  }
  .custom-menu-primary .hs-menu-wrapper{
    background-color: #000;
    width: 100%; /* Full screen width */
  }

   /* Level 1 Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul > li{
    position: relative;
  }
  .custom-menu-primary .hs-menu-wrapper > ul > li a{
    font-size: 22px; /* Font size of top level list items */
    line-height: 45px;
    overflow: visible;
  }

  /* Level 1 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul li{
    border-top: 1px dotted rgba(255, 255, 255, .35);
  }
  .custom-menu-primary .hs-menu-wrapper >  ul li a{
    padding: 0 10px;
    color: #fff;
  }
  .custom-menu-primary .hs-menu-wrapper > ul li a:hover{
    color: #fff;
  }

  /* Level 2 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul {
    background-color: transparent;
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul li{
    background-color: rgba(255, 255, 255, .08);
  }
  .custom-menu-primary .hs-menu-wrapper > ul ul li a{
    text-indent: 10px; /* Indent Child lists */
    font-size: 16px; /* Font size of child lists */
  }

  /* Level 3 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul ul li a{
    text-indent: 30px; /* Indent Child lists */
  }

  /* Level 4 and Higher Menu List Styles */
  .custom-menu-primary .hs-menu-wrapper > ul ul ul ul li a{
    text-indent: 50px; /* Indent Child lists */
  }
}


/* ==========================================================================
   5. BLOG                                        
   ========================================================================== */


/* =============== General Blog Styles =============== */

/* Blog Post and Listing Body Class */
.blog {}

/* Blog Post */
.hs-blog-post {}

/* Blog Listing */
.hs-blog-listing {}

/* Blog Columns Wrapper */
.blog .content-wrapper {}


/* =============== Blog Content Column =============== */

.blog .blog-content {}

/* Use this to style the main wrapper for the blog listing pages */
.blog-listing-wrapper {}

/* Use this to style the main wrapper for the blog post pages */
.blog-post-wrapper {}

/* Blog Title */
.hs-blog-header h1 {}
.hs-blog-header h1 a{}

/* Blog Post Title */
.post-header h2 {}
.post-header h2 a {}

/* Blog Author and Avatar */
#hubspot-author_data {}
#hubspot-author_data:after {
  content: '';
  display: block;
  clear: both;
}
#hubspot-author_data a.author-link {}
#hubspot-author_data .hs-author-avatar {}
#hubspot-author_data .hs-author-avatar img {
  width: 50px;
  float: left;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* Use this to set up different styling for your blog posts */
.blog-listing-wrapper .post-listing .post-item {}
.blog-listing-wrapper .post-listing .post-item .post-body {}
.blog-post-wrapper .post-body {}

/* Post Featured Image on Listings Page */
.hs-featured-image-wrapper {}
.hs-featured-image-wrapper .hs-featured-image-link {}
.hs-featured-image-wrapper .hs-featured-image-link img.hs-featured-image{
  border-width: 0;
  max-height: 170px;
  max-width: 210px;
  height: auto;
  width: auto;
  display: inline-block !important;
  float: right;
  margin: 20px 0 20px 20px;
}

/* Read More Link */
a.more-link {}

/* Blog Topics List */
#hubspot-topic_data {}
#hubspot-topic_data a.topic-link {}

/* Blog Social Sharing Icons */
.hs-blog-social-share {
  margin-top: 20px;
  padding: 10px 0 0 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  height: auto;
}

/* Blog Commments */
#comments-listing:not([data-has-comments="true"]) {
    display: none;
}
#comments-listing {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  margin-top: 30px;
}
.comment {
  margin: 10px 0;
  border-top: 1px solid #ccc;
  padding: 15px 0;
}
.comment-date { font-size: 13px; text-align: right; }
.comment-from { font-weight: bold; }
.comment-body { padding: 10px 0; }

/* Pagination */
.blog-pagination {}
.blog-pagination a {}
.blog-pagination a.previous-posts-link {}
.blog-pagination a.all-posts-link {}
.blog-pagination a.next-posts-link {}

/* Blog All Posts Page */
.hs-content-path-blog-all {}
div.post-listing-simple {}
div.post-listing-simple .post-item {}
h2.post-listing-simple {}
h2.post-listing-simple a {}


/* =============== Blog Sidebar =============== */

.blog .blog-sidebar {}

/* Blog Modules */
.blog .blog-sidebar .widget-span {}


/* =============== Blog Author Page and Author Bio =============== */

.hs-blog-listing .hs-author-profile {
  border-bottom: 1px solid #ccc;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}
.hs-blog-post .hs-author-profile {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0 20px 0;
  margin: 20px 0 20px 0;
}
.hs-author-profile .hs-author-profile:after {
  content: '';
  display: block;
  clear: both;
}

/* Author Avatar */
.hs-author-profile .hs-author-avatar {
  float: left;
  margin-right: 15px;
  max-width: 100px;
}
.hs-author-profile .hs-author-avatar img{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  max-width: 100%;
}

/* Author Bio Wrapper*/
.hs-author-profile .hs-author-bio {
  overflow: hidden;
}

/* Author Name */
.hs-author-profile h2.hs-author-name {
  margin: 0 0 10px 0;
}

/* Author Social Follow Me */
.hs-author-profile .hs-author-social-section {}
.hs-author-profile .hs-author-social-label {}
.hs-author-profile .hs-author-social-links {}
.hs-author-profile .hs-author-social-link {}
.hs-author-profile .hs-social-facebook {}
.hs-author-profile .hs-social-linkedin {}
.hs-author-profile .hs-social-twitter {}
.hs-author-profile .hs-social-google-plus {}


/* ==========================================================================
   6. FORMS                                        
   ========================================================================== */


/* =============== Global Form Styles =============== */

/* Form Field */
.hs-form-field {}

/* Descriptions */
.hs-field-desc {}

/* Labels and Legends */
label {}
.hs-form-field > label {}

/* One Line Inputs */
input[type="text"],
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"],
input[type="file"],
textarea,
select {}

input[type="text"]:focus,
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {}

/* Separate Styles for Multiple Line Inputs */
textarea {}
textarea:focus {}

/* Separate Styles for Drop Downs */
select {}
select:focus {}

/* Multiple Selection Inputs */
form.hs-form .hs-form-field ul.inputs-list {
  list-style: none;
  padding: 0;
}
form.hs-form .hs-form-field ul.inputs-list li input {}
input[type="radio"] {}
input[type="checkbox"] {}

/* Required */
input:focus:required:invalid, 
textarea:focus:required:invalid, 
select:focus:required:invalid {}

input:focus:required:invalid:focus, 
textarea:focus:required:invalid:focus, 
select:focus:required:invalid:focus {}

/* Error */
.hs-error-msgs label{}

/* Placeholder Text */
::-webkit-input-placeholder {} /* Webkit Browsers */
:-moz-placeholder {} /* Firefox 18- */
::-moz-placeholder {} /* Firefox 19+ */
:-ms-input-placeholder {} /* IE10 */


/* =============== Multi Column Form =============== */

.hs-form fieldset.form-columns-1 {}
.hs-form fieldset.form-columns-1 .hs-form-field {}
.hs-form fieldset.form-columns-2 {}
.hs-form fieldset.form-columns-2 .hs-form-field {}
.hs-form fieldset.form-columns-3 {}
.hs-form fieldset.form-columns-3 .hs-form-field {}

/* Multiple Selection Inputs */
form.hs-form .hs-form-field ul.inputs-list li input {}
input[type="radio"] {}
input[type="checkbox"] {}
form.hs-form fieldset { max-width: none; }
form.hs-form fieldset .hs-form-field { padding: 0 10px 0 0; }
form.hs-form fieldset[class*="form-columns"] .input { margin-right: 0; }
form.hs-form fieldset[class*="form-columns"] .hs-input { width: 100%; }
form.hs-form fieldset[class*="form-columns"] .hs-input[type="checkbox"] { width: auto; }
form.hs-form fieldset.form-columns-3 .hs-form-field { width: 33.33%; }

@media (max-width: 400px) {
  form.hs-form fieldset .hs-form-field { padding: 0; }
  form.hs-form fieldset.form-columns-3 .hs-form-field,
  form.hs-form .form-columns-2 .hs-form-field .hs-input, 
  form.hs-form .form-columns-3 .hs-form-field .hs-input { width: 100%; }
  form.hs-form .form-columns-3 .hs-form-field .hs-input[type="checkbox"] { width: auto; }
}


/* =============== Blog Comment Form =============== */

/* Label */
#comment-form .hs-form-field > label {}
#comment-form label {}

/* Inputs */
#comment-form input[type="text"] {}
#comment-form input[type="text"]:focus {}

#comment-form textarea {}
#comment-form textarea:focus {}

#comment-form input[type="checkbox"] {}


/* =============== Blog Subscription Form =============== */

/* Label */
#hs_form_target_blog_subscription .hs-form-field > label {}
#hs_form_target_blog_subscription label {}

/* Inputs */
#hs_form_target_blog_subscription input[type="email"] {}
#hs_form_target_blog_subscription input[type="email"]:focus {}
#hs_form_target_blog_subscription input[type="radio"], #hs_form_target_blog_subscription input[type="checkbox"] {
width: auto;
margin-right: 10px;
}

/* =============== Google Search Form =============== */

/* Label */
.widget-type-google_search label {}

/* Input */
.widget-type-google_search input[type="text"] {}
.widget-type-google_search input[type="focus"] {}


/* ==========================================================================
   7. BUTTONS                                        
   ========================================================================== */


/* =============== All Global Buttons (Excluding CTAs) =============== */

.hs-button.primary,
input[type="submit"],
input[type="button"] {
  cursor: pointer;
  -webkit-appearance: none;
  text-decoration: none !important;
}

.hs-button.primary:hover,
input[type="submit"]:hover,
input[type="button"]:hover {}

.hs-button.primary:focus,
input[type="submit"]:focus,
input[type="button"]:focus {}


/* =============== Form Module Button =============== */

.hs_cos_wrapper_type_form .hs-button.primary.large {}
.hs_cos_wrapper_type_form .hs-button.primary.large:hover {}
.hs_cos_wrapper_type_form .hs-button.primary.large:focus {}


/* =============== Blog Comment Button =============== */

#add-comment-button.hs-button.primary {}
#add-comment-button.hs-button.primary:hover {}
#add-comment-button.hs-button.primary:focus {}


/* =============== Blog Subscription Button =============== */

#hs_form_target_blog_subscription .hs-button.primary.large {}
#hs_form_target_blog_subscription .hs-button.primary.large:hover {}
#hs_form_target_blog_subscription .hs-button.primary.large:focus {}


/* =============== Google Search Button =============== */

.widget-type-google_search .hs-button.primary {}
.widget-type-google_search .hs-button.primary:hover {}
.widget-type-google_search .hs-button.primary:focus {}


/* ==========================================================================
   8. MISCELLANEOUS                                      
   ========================================================================== */


/* Styles that do not fit into any of the available sections above can go here. */


/* ==========================================================================
   9. MEDIA QUERIES                              
   ========================================================================== */


/* =============== Screen sizes smaller than .page-center =============== */

@media (max-width: 1024px) {}


/* =============== Landscape tablet and smaller devices =============== */

@media (max-width: 767px) {}  


/* =============== Landscape phones and smaller devices =============== */

@media (max-width: 479px) {}

