/* Blog header */

.blog-header {
  background-color: #F8FAFC;
  text-align: center;
}

.blog-header__inner {
  margin: 0 auto;
  max-width: 600px;
  padding: 3.3rem 0;
}

.blog-header__title {
  font-size: 2rem;
}

.blog-header__subtitle {
  margin: 1rem 0 2rem;
}

.blog-header__form {
  margin: 0 1rem;
}

@media screen and (min-width: 768px) {
  .blog-header__form {
    margin: 0 auto;
    width: 500px;
  }
}

/* Blog header - author listing */

.blog-header__author-avatar {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  height: 200px;
  margin: 0 auto 1.5rem;
  width: 200px;
}

.blog-header__author-social-links a {
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  margin: 0 5px;
  position: relative;
  width: 40px;
}

.blog-header__author-social-links a:hover {
  background-color: #494A52;
}

.blog-header__author-social-links svg {
  fill: #FFF;
  height: 15px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
}

/* Blog listing */

.blog-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 3.3rem 0;
}

.blog-index:after {
  content: "";
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

.blog-index__tag-header {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  padding: 1rem;
}

.blog-index__tag-subtitle {
  font-size: 1.16rem;
  line-height: 1.1;
}

.blog-index__tag-heading {
  border-bottom: 3px solid #D1D6DC;
  padding-bottom: 1rem;
}

.blog-index__post {
  -webkit-box-flex:  0;
  -ms-flex:  0 0 100%;
  flex:  0 0 100%;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .blog-index__post {
    -webkit-box-flex:  0;
    -ms-flex:  0 0 calc(100%/2);
    flex:  0 0 calc(100%/2);
  }
}

@media screen and (min-width: 1000px) {
  .blog-index__post {
    -webkit-box-flex:  0;
    -ms-flex:  0 0 calc(100%/3);
    flex:  0 0 calc(100%/3);
  }
}

@media screen and (min-width: 768px) {
  .blog-index__post--large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    justify-items: space-between;
  }
}

.blog-index__post-image {
  display: block;
  background-image: url('https://cdn2.hubspot.net/hubfs/6326501/boilerplate/grayscale-mountain.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 63%;
}

@media screen and (min-width: 768px) {
  .blog-index__post-image--large {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    padding-bottom: 0;
  }

  .blog-index__post-content--large {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    padding-left: 2rem;
  }

  .blog-index__post-image--large {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 48%;
    flex: 1 1 48%;
  }

  .blog-index__post-content--large {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 48%;
    flex: 1 1 48%;
    padding-left: 2rem;
  }

  .blog-index__post-content--full-width {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    padding-left: 0;
  }
}

.blog-index__post-content h2 {
  margin: 0.5rem 0;
}

.blog-index__post-content--small h2 {
  font-size: 1.25rem;
}

.blog-index__post-content p {
  font-family: Lato, sans-serif;
}

.blog-index__post-content a {
  color: #494A52;
}

.blog-index__post img {
  height: auto;
  max-width: 100%;
}

/* Blog pagination */

.blog-pagination {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lato, sans-serif;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 3.3rem;
  text-align: center;
}

.blog-pagination__link {
  border: 2px solid transparent;
  border-radius: 7px;
  color: #494A52;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 1;
  margin: 0 0.1rem;
  padding: 0.25rem 0.4rem;
  text-decoration: none;
}

.blog-pagination__link--active {
  border: 2px solid #B0C1D4;
}

.blog-pagination__link:hover,
.blog-pagination__link:focus {
  text-decoration: none;
}

.blog-pagination__prev-link,
.blog-pagination__next-link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.blog-pagination__prev-link {
  margin-right: 0.25rem;
  text-align: right;
}

.blog-pagination__next-link {
  margin-left: 0.25rem;
  text-align: left;
}

.blog-pagination__prev-link--disabled,
.blog-pagination__next-link--disabled {
  color: #B0C1D4;
  cursor: default;
  pointer-events: none;
}

.blog-pagination__prev-link svg,
.blog-pagination__next-link svg {
  fill: #494A52;
  margin: 0 5px;
}

.blog-pagination__prev-link--disabled svg,
.blog-pagination__next-link--disabled svg {
  fill: #B0C1D4;
}

.blog-pagination__number-link:hover,
.blog-pagination__number-link:focus {
  border: 2px solid #B0C1D4;
}

/* Blog post */

.blog-post {
  margin: 0 auto;
  max-width: 960px;
  padding: 3.3rem 0;
}

.blog-post h1 {
  font-size: 1.6rem;
}

.blog-post__meta {
  margin: 1rem 0;
}

.blog-post__meta a {
  color: #494A52;
  text-decoration: underline;
}

.blog-post__tags {
  color: #000;
  font-family: Lato, sans-serif;
}

.blog-post__tags svg {
  height: auto;
  margin-right: 10px;
  width: 15px;
}

.blog-post__tag-link {
  color: #000;
  font-size: .8rem;
}

/* Blog related posts */

.blog-recent-posts {
  background-color: #F8FAFC;
  margin-top: 3rem;
  padding: 2rem 0;
}

.blog-recent-posts h2 {
  text-align: center;
}

.blog-recent-posts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blog-recent-posts__post {
  color: #494A52;
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .blog-recent-posts__post {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100%/2);
    flex: 0 0 calc(100%/2);
  }
}

@media screen and (min-width: 1000px) {
  .blog-recent-posts__post {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100%/3);
    flex: 0 0 calc(100%/3);
  }
}

.blog-recent-posts__post:hover {
  text-decoration: none;
}

.blog-recent-posts__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 63%;
}

.blog-recent-posts__title {
  margin: 1rem 0 0.5rem;
}

/* Blog comments */

.blog-comments {
  margin: 0 auto;
  max-width: 680px;
}

.blog-comments form {
  max-width: 100%;
}

.blog-comments .hs-submit {
  text-align: center;
}

.blog-comments .hs-button {
  background-color: transparent;
  border: 2px solid #494A52;
  color: #494A52;
}

.blog-comments .hs-button:hover {
  background-color: #494A52;
  color: #FFF;
}

.blog-comments .comment-reply-to {
  border: 0 none;
}

.blog-comments .comment-reply-to:hover {
  background-color: transparent;
  color: #494A52;
  text-decoration: underline;
}
