/* Error pages */

.error-page {
  padding: 10rem 0;
  position: relative;
  text-align: center;
}

.error-page:before {
  color: #F3F6F9;
  content: attr(data-error);
  font-family: Lato, sans-serif;
  font-size: 40vw;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

@media screen and (min-width: 1100px) {
  .error-page:before {
    font-size: 20rem;
  }
}

.error-page__heading {
  margin-bottom: 1rem;
}

/* System pages */

.systems-page {
  margin: 0 auto;
  max-width: 700px;
  padding: 3rem 1.4rem;
}

.systems-page .success {
  background-color: #CDE3CC;
  border: 1.5px solid #4F7D24;
  border-radius: 6px;
  color: #4F7D24;
  display: inline-block;
  margin: 1.4rem 0;
  padding: 0.1rem 0.7rem;
  width: 100%;
}

.systems-page form input {
  max-width: 100%;
}

#email-prefs-form .header {
  background-color: transparent;
}

/* Search pages */

.hs-search-field__bar {
  position: relative;
}

.hs-search-field__suggestions {
  background-color: #FFF;
  max-width: 360px;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
}

.hs-search-results {
  margin-top: 1.4rem;
}

ul.hs-search-results__listing li {
  margin-bottom: 1.4rem;
}

.hs-search-results__title {
  color: #494A52;
  font-family: Merriweather, serif;
  font-size: 1.25rem;
  margin-bottom: 0.35rem;
  text-decoration: underline;
}

.hs-search-results__title:hover {
  text-decoration: none;
}

.hs-search-results__description {
  padding-top: 0.7rem;
}

.hs-search-highlight {
  font-weight: bold;
}

.hs-search-results__pagination a {
  color: #0270E0;
}

/* Password prompt */

.password-prompt input[type=password] {
  display: block;
  height: auto !important;
  margin-bottom: 1.4rem;
}

/* Backup unsubscribe */

.backup-unsubscribe #email-prefs-form div {
  padding-bottom: 0 !important;
}

.backup-unsubscribe input[type=email] {
  margin-bottom: 1.4rem;
  padding: 0.7rem !important;
}