/* CSS variables */

:root {
  --gap: 2.13%;
}

/* Mobile layout */

.row-fluid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  width: 100%;
}

.row-fluid [class*='span'] {
  flex-basis: 100%;
  min-height: 1px;
}

/* Desktop layout */

@media (min-width: 768px) {
  .row-fluid {
    flex-wrap: nowrap;
  }

  .row-fluid .span11 {
    flex: 11;
  }

  .row-fluid .span10 {
    flex: 10;
  }

  .row-fluid .span9 {
    flex: 9;
  }

  .row-fluid .span8 {
    flex: 8;
  }

  .row-fluid .span7 {
    flex: 7;
  }

  .row-fluid .span6 {
    flex: 6;
  }

  .row-fluid .span5 {
    flex: 5;
  }

  .row-fluid .span4 {
    flex: 4;
  }

  .row-fluid .span3 {
    flex: 3;
  }

  .row-fluid .span2 {
    flex: 2;
  }

  .row-fluid .span1 {
    flex: 1;
  }
}
