/* Menu */

.menu--desktop {
  display: block;
}

.menu--mobile {
  display: none;
}

@media (max-width: 1080px) {
  .menu--desktop {
    display: none;
  }

  .menu--mobile {
    display: block;
  }
}

/* Menu Wrapper */
.menu__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Menu items */

.menu__item {
  position: relative;
}

.menu__link {
  font-size: 1.125rem;
  line-height: 1.35rem;
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
  position: relative;
  outline: none;
}

.menu__link {
  position: relative;
}

.menu__link::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #fff;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
}

/* Default hover underline */
.menu__link:hover::after,
.menu__link:focus::after,
.menu__link:active::after {
  width: 100%;
  opacity: 1;
}

/* Disable hover underline if it's the active link/branch */
.menu__link--active-link::after,
.menu__link--active-branch::after {
  width: 0;
  opacity: 0;
}

/* Active link/branch underline style */
.menu__link--active-link,
.menu__link--active-branch {
  text-decoration: underline 2px solid white;
  text-underline-offset: 8px;
}

/* Remove text-decoration on hover for non-active links */
.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  text-decoration: none;
}

@media (max-width: 1080px) {
  .menu__item {
    display: block;
    width: fit-content;
  }

  .menu__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .menu__link {
    font-size: 2rem;
  }
}

/* Menu items - top level */

.menu__item--depth-1 {
  display: inline-block;
}