/* Menu */

.menu,
.menu__wrapper {
  display: inline-block;
}

@media (max-width: 767px) {
  .menu {
    display: block;
  }
}

/* Menu items */

.menu__link {
  color: #494A52;
  font-family: Lato;
  font-size: 22px;
  font-weight: 300;
  line-height: 40px;
}

.menu__link--active-link,
.menu__link--active-branch {
  font-weight: 600;
  position: relative;
}

@media (max-width: 767px) {
  .menu__link {
    font-size: 26px;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .menu__link {
    font-size: 20px;
  }
}

/* Menu items - top level */

.menu__item--depth-1 > .menu__link--active-link:after {
  background-color: #494A52;
  bottom: -3px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

.menu__item--depth-1 {
  display: inline-block;
  padding: 15px 20px;
  text-transform: uppercase;
}

.menu__item--depth-1.menu__item--has-submenu {
  position: relative;
}

@media (min-width: 768px) and (max-width: 1150px) {
  .menu__wrapper {
    border-top: 2px solid #CED4DB;
    display: block;
    padding: 0;
    width: 100%;
  }

  .menu__item--depth-1 {
    padding: 22px 15px;
  }

  .menu__item--depth-1:last-child {
    padding-right: 22px;
  }

  .menu__item--depth-1 > .menu__link--active-link:after {
    content: none;
  }

  .menu__item--depth-1 > .menu__link {
    font-weight: 600;
    padding: 7px 30px;
  }
}

/* Menu items - submenus */

.menu__submenu .menu__link {
  text-decoration: none;
}

.menu__submenu {
  z-index: 2;
}

.menu__submenu--level-2 {
  border: 2px solid #D1D6DC;
  border-radius: 6px;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.2);
  font-weight: 500;
  left: -9999px;
  opacity: 0;
  position: absolute;
  text-transform: none;
  top: 100%;
  transform: translateX(-50%);
  width: 270px;
}


.menu__submenu--level-2 > .menu__item {
  border-bottom: 1px solid #D1D6DC;
  padding: 0;
}

.menu__submenu--level-2 .menu__link {
  background-color: #FFF;
  display: block;
  padding: 10px 30px;
  transition: background-color 0.3s;
}

.menu__submenu--level-2 .menu__item:first-of-type,
.menu__submenu--level-2 .menu__item:first-of-type .menu__link {
  border-radius: 6px 6px 0 0;
}

.menu__submenu--level-2 .menu__item:last-of-type,
.menu__submenu--level-2 .menu__item:last-of-type .menu__link {
  border-radius: 0 0 6px 6px;
}

.menu__submenu--level-2 > .menu__item:last-child,
.menu__submenu--level-2 > .menu__item:last-child .menu__submenu {
  border-bottom: none;
  border-radius: 0 0 6px 6px;
}

.menu__submenu--level-2 .menu__item .menu__link:hover,
.menu__submenu--level-2 .menu__item .menu__link:focus {
  background-color: #D0D2D4;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu__submenu--level-3 .menu__item .menu__link {
  padding-left: 60px;
}

@media (min-width: 768px) and (max-width: 1150px) {
  .menu__submenu--level-2 {
    left: 0;
  }
}

@media (max-width: 767px) {
  .menu__submenu .menu__link {
    display: block;
    width: 100%;
  }

  .menu__item--has-submenu {
    position: relative;
  }

  .menu__item--has-submenu > .menu__link {
    width: 70%;
  }

  .menu__submenu {
    display: none;
  }

  .menu__submenu--level-2 > .menu__item:first-child:before {
    content: none;
    transition: none;
  }

  .menu__submenu--level-2 > .menu__item:first-child:hover:before,
  .menu__submenu--level-2 > .menu__item:first-child.focus:before {
    transition: none;
  }

  .menu__submenu--level-2 {
    border: none;
    box-shadow: none;
    opacity: 1;
    position: static;
    transform: unset;
    visibility: visible;
    width: 100%;
  }

  .menu__submenu--level-2 .menu__item {
    background-color: #FFF;
    border-bottom: none;
    border-top: 2px solid #EBEFF3;
    padding: 0;
  }

  .menu__submenu--level-2 .menu__item .menu__link {
    padding: 7px 60px;
    transition: none;
  }

  .menu__submenu--level-2 .menu__item .menu__link:hover,
  .menu__submenu--level-2 .menu__item .menu__link:focus {
    transition: none;
  }

  .menu__submenu--level-2 .menu__item .menu__link:hover {
    background-color: inherit;
  }

  .menu__submenu--level-3 {
    background-color: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .menu__submenu--level-3 > li {
    background-color: inherit;
    padding: 0;
  }

  .menu__submenu--level-3 .menu__item .menu__link {
    padding: 7px 90px;
  }
}

/* Menu icons */

@media (min-width: 767px) {
  .menu__submenu .menu__child-toggle {
    margin-left: auto;
    padding: 0.7rem 1rem;
  }
}

.menu__child-toggle svg {
  height: 15px;
  margin-left: 0.35rem;
  width: 15px;
}

.menu__toggle {
  display: none;
}

.menu__toggle svg {
  height: 30px;
  width: 30px;
}

@media (max-width: 767px) {
  .menu__child-toggle,
  .menu__child-toggle:hover,
  .menu__child-toggle:focus,
  .menu__child-toggle:active {
    border: 0;
    cursor: pointer;
    padding: 10px 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
  }

  .menu__child-toggle svg {
    margin-left: 0;
  }

  .menu__child-toggle--open svg {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
    transition: transform 0.4s;
  }
}


