/* ==========================================================================
   Mobile Menu - Toggle Dropdown Menu - Fixed Top
   ========================================================================== */


/**
 * Special Note
 *
 * When the menu is open, a class of .menu-open is applied to the body. You can 
 * use this for custom styling on any element when the menu is in the open position.                     
 */


/* Variables
   ========================================================================== */

{% set menuColorMobile = "#333" %}      /* Set Mobile Menu Background Color */
{% set aColorMobile = "#fff" %}         /* Set Link Color */
{% set aColorHoverMobile = "#cc0000" %} /* Set Link Hover Color */


/* Toggle Button
   ========================================================================== */

a.mobile-trigger {
     display: none; /* Hide button on Desktop */
    cursor: pointer; /* Mouse pointer type on hover */
    margin: 10px;
    padding: 11px 0 5px 0;
}
a.mobile-trigger:hover {
    text-decoration: none; /* Removes link text underline on button */
}

/* Three line icon */
a.mobile-trigger span {
    margin: 0 auto;
    position: relative;
}
a.mobile-trigger  span:before, a.mobile-trigger span:after {
    position: absolute;
    content: '';
}
a.mobile-trigger  span, a.mobile-trigger  span:before, a.mobile-trigger  span:after {
    width: 30px; /* Icon line width */
    height: 4px; /* Icon line height */
    background-color: #ffffff; /* Color of all three lines */
    -webkit-border-radius: 2px; /**********************************************/
    -moz-border-radius: 2px;    /* Border Radius - must be half of the height */
    border-radius: 2px;         /**********************************************/
    display: block;
}
a.mobile-trigger  span:before {
    margin-top: -8px; /* Position top line */
}
a.mobile-trigger  span:after {
    margin-top: 8px; /* Position bottom line */
}
 
 
/* Menu Styles on Mobile Devices
   ========================================================================== */   
         
 @media (max-width: 767px) {
 
     /* Hide menu on mobile */
     .custom-menu-primary.js-enabled .hs-menu-flow-horizontal {
          display: none;
     }  
 
     /* Show menu button on mobile */
     a.mobile-trigger {
          display: inline-block;
     }
 
     /* Make child lists appear below parent items */
     .custom-menu-primary ul.hs-menu-children-wrapper {
          visibility: visible !important;
          opacity: 1 !important;
          position: static !important;
          display: none !important;
     }
    
     /* Show child lists when hovering over parent */
     .custom-menu-primary li.hs-item-has-children:hover > ul.hs-menu-children-wrapper {
          display: block !important;
     }
 
     /* Add down arrow to nav items with children */
     .custom-menu-primary ul li.hs-item-has-children > a:after{
          content:'';
          margin-left: 10px;
          width: 0;
          height: 0;
          border-left: 5px solid transparent; /* Adjust border sizes to go bigger or smaller */
          border-right: 5px solid transparent;
          border-top: 5px solid {{ aColorMobile }}; /* change this color to match menu text */
          border-bottom: 0px !important;
     }
 
     /* General Menu Styles */
     .custom-menu-primary.js-enabled{
        text-align: right; /* Change the text align to change the position of the toggle button */
        background-color: {{ menuColorMobile }};
        position: fixed; 
        top: 0px;
        width: 100% !important;
        -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5); /******************************************/
        -moz-box-shadow:    0px 2px 6px rgba(0, 0, 0, 0.5); /* Adds a little shadow to menu for depth */
        box-shadow:         0px 2px 6px rgba(0, 0, 0, 0.5); /******************************************/
     }

     .header-container-wrapper{
      padding-top: 65px; /* Add padding to header to make room for menu */
     }
     .custom-menu-primary .hs-menu-flow-horizontal{
          text-align: left; /* Left aligns menu text */
     }
 
     /* Parent List */
     .custom-menu-primary ul{
          background-color: {{ menuColorMobile }};
     }
     .custom-menu-primary ul li{}
     .custom-menu-primary ul li a{
          color: {{ aColorMobile }};
     }
     .custom-menu-primary ul li a:hover{
          color: {{ aColorHoverMobile }};
     }
 
     /* Child List */
     .custom-menu-primary ul ul{}
     .custom-menu-primary ul ul li{}
     .custom-menu-primary ul ul li a{}
     .custom-menu-primary ul ul li a:hover{}
 
     /* Grandchild List */
     .custom-menu-primary ul ul ul{}
     .custom-menu-primary ul ul ul li{}
     .custom-menu-primary ul ul ul li a{}
     .custom-menu-primary ul ul ul li a:hover{}
 
}