<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: Boilerplate - 500 error
  screenshotPath: ../../images/template-previews/500.png
-->
{% extends '../layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="error-page" data-error="500">
      <h1 class="error-page__heading">Something isn't quite right</h1>
      <p>Sorry, an internal server error occurred. But have no fear, we're on the case!</p>
    </div>
  </section>
</main>
{% endblock body %}