<!--
  templateType: email_backup_unsubscribe_page
  isAvailableForNewContent: true
  label: Boilerplate - email backup unsubscribe
  screenshotPath: ../../images/template-previews/backup-unsubscribe.png
-->
{% extends '../layouts/base.html' %}

{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page">
      {% module 'backup_unsubscribe'
        extra_classes='backup-unsubscribe',
        path='@hubspot/email_simple_subscription'
      %}
    </div>
  </section>
</main>
{% endblock body %}