<!--
  templateType: membership_reset_page
  isAvailableForNewContent: true
  label: Boilerplate - reset password
  screenshotPath: ../../images/template-previews/membership-reset-password.png
-->
{% extends '../layouts/base.html' %}

{% block header %}
{% endblock %}

{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page">
      <h4>Reset your password</h4>
      <p class="introduction">Enter a new password.</p>
      <div class="form-container">
        {% password_reset 'my_password_reset'
          password_confirm_label='Confirm Password',
          password_label='Password',
          submit_button_text= 'Save Password'
        %}
      </div>
      <div>
        <p>Having trouble? <a href="{{'mailto:' ~ site_settings.membershipWebsiteAdmin}}">Contact the admin</a>.</p>
      </div>
    </div>
  </section>
</main>
{% endblock %}