<!--
  templateType: membership_reset_request_page
  isAvailableForNewContent: true
  label: Boilerplate - reset password request
  screenshotPath: ../../images/template-previews/membership-reset-password-request.png
-->
{% extends '../layouts/base.html' %}

{% block header %}
{% endblock %}

{% block body %}
<main class="body-container-wrapper">
  <section class="content-wrapper">
    <div class="systems-page">
      <h4>Reset your password</h4>
      <p class="introduction">What email address should we send a password reset email to?</p>
      <div class="form-container">
        {% password_reset_request 'my_password_reset_request'
          email_label='Email',
          submit_button_text='Send Reset Email'
        %}
      </div>
      <div>
        <p>Having trouble? <a href="{{'mailto:' ~ site_settings.membershipWebsiteAdmin}}">Contact the admin</a>.</p>
      </div>
    </div>
  </section>
</main>
{% endblock %}